@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Roboto", sans-serif;
}

.active {
  color: #5078ff;
}
.contentMobile {
  z-index: 100 !important;
}
.slider {
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  width: 100%;
  height: 100%;
}
.swiper-slide .content {
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  /* box-shadow: inset 0px 2px 16px 10px #0c1117; */
  border-radius: 20px;
}

.content .filter {
  display: flex;
}

@media (max-width: 1250px) {
  .swiper-slide .content .img {
    display: none;
  }
}
