@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  font-size: 85%;
}
body {
  font-family: "Roboto", sans-serif;
}

.active {
  color: #5078ff;
}

.slider {
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  width: 100%;
  height: 100%;
}
.swiper-slide .content {
  background-size: cover;
  display: flex;
  align-items: center;
  /* box-shadow: inset 0px 2px 16px 10px #0c1117; */
  border-radius: 20px;
}

.content .filter {
  display: flex;
}

.listSlide {
  position: relative;

  .swiper-button-prev {
    left: auto;
    right: 30px !important;
  }
  .swiper-button-prev,
  .swiper-button-next {
    top: 10%;
    position: absolute;
    z-index: 40;
    &::after {
      font-size: 16px;
    }
  }
  .swiper {
    width: 100%;
    height: 100%;
    position: static;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #030609;
    border-radius: 10px;
    color: white;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    transition: transform 0.4s ease-in-out;
    cursor: pointer;
    transition: all 0.5s;
    img {
      transition: 0.4s ease transform;
    }
    .buttonArea {
      overflow: hidden;
      height: 0;
      opacity: 0;
    }
    &.classMouseEnter {
      img {
        transform: scale(1.2) !important;
      }
      p.sinopse {
        display: flex;
        animation: showP 0.5s ease forwards;

        ~ .buttonArea {
          margin-top: 16px;
          animation: showP 0.5s ease forwards;
        }
      }
    }
    &.classMouseLeave {
      p.sinopse {
        animation: showF 0.5s ease forwards;
        ~ .buttonArea {
          animation: showF 0.5s ease forwards;
        }
      }
    }
    &:hover {
      cursor: pointer;
      box-shadow: rgba(0, 0, 0, 0.726) 0px 7px 29px 0px;
    }

    p.sinopse {
      overflow: hidden;
      height: 0;
      opacity: 0;
      text-overflow: ellipsis;
      padding: 1rem 0;
    }
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.itemPage {
  .header {
    background-size: cover;
    position: relative;

    .bottom {
      position: absolute;
      width: 100vw;
      height: 60px;
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #0c1117);
      bottom: 0;
      left: 0;
      z-index: 50;
    }
  }
}

.surgir {
  opacity: 0;
  animation: surgir 0.8s ease forwards;
}

@media (min-width: 1100px) {
  .content .infos {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "c t r";
    .cardArea {
      grid-area: c;
    }

    .textArea {
      grid-area: t;
      padding: 0 20px;
      border-right: 2px solid rgba(255, 255, 255, 0.041);
    }

    .similar {
      grid-area: r;
      padding-left: 10px;
    }
  }
}

@media (max-width: 1099px) {
  .content .infos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 500px;
    grid-template-areas: "c t t" "r r r";
    .cardArea {
      grid-area: c;
    }

    .textArea {
      grid-area: t;
      padding-left: 20px;
    }

    .similar {
      grid-area: r;
      display: flex;
      .itens {
        flex-direction: row !important;
      }
    }
  }
}

@media (max-width: 545px) {
  .content .infos {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "c c c" "t t t" "r r r";
    .cardArea {
      grid-area: c;
    }

    .textArea {
      grid-area: t;
      padding-left: 0px;
    }

    .similar {
      grid-area: r;
      display: flex;
      .itens {
        flex-direction: row !important;
      }
    }
  }
}
@media (max-width: 1250px) {
  .swiper-slide .content .img {
    display: none;
  }
}

@keyframes showP {
  0% {
    display: none;
    opacity: 0;
  }
  50% {
    opacity: 0;

    display: flex !important;
    height: 50px;
  }
  100% {
    opacity: 1;
    height: 50px;
    display: flex !important;
  }
}
@keyframes showF {
  0% {
    height: 50px;
  }

  100% {
    height: 0;
  }
}

@keyframes surgir {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
