@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Roboto", sans-serif;
}

.active {
  color: #5078ff;
}
.containerMobile {
  z-index: 10 !important;
}
.slider {
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  width: 100%;
  height: 100%;
}
.swiper-slide .container {
  background-size: cover;
  background: none;
}
.swiper-slide .container .img {
  background: url("https://images4.alphacoders.com/100/1009981.jpg");
  background-size: cover;
  box-shadow: inset 0px 2px 20px 32px #0c1117;
}
.container .filter {
  display: none;
}

@media (max-width: 1250px) {
  .swiper-slide .container .img {
    display: none;
  }
  .swiper-slide .container {
    background: url("https://images4.alphacoders.com/100/1009981.jpg");
    background-size: cover;
    display: flex;
    align-items: center;
  }
  .container .filter {
    display: flex;
  }
}
